@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@font-face {
    font-family: "Authentic Signature";
    src: url(../fontes/Authentic\ Signature.ttf) format('truetype');
}

:root{
    --fonte-manuscrito: 'Authentic Signature', serif;
    --fonte-padrao: 'Montserrat', sans-serif;

    /* Cores */
    --rosa-padrao: #F0C8C0;
    --marrom-bordo: #723C3C;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-size: 1em;
}

/* HEADER */

/* header{
    text-align: right;
    height: 80px;
    background-image: linear-gradient(to bottom, var(--rosa-padrao) 20%, white);
    position: sticky;
    top: 0px;
    z-index: -1;
} */

.material-symbols-outlined {
    /* font-variation-settings:
        'FILL' 0,
        'wght' 100,
        'GRAD' 0,
        'opsz' 48; */
        
    margin: 25px 20px 0 0;
    color: var(--marrom-bordo);
}

/* MAIN */
main{    
    font-family: var(--fonte-padrao);
    overflow-x: hidden;
}

/*  Main > Welcome */

#welcome{
    height: 99.99vh;
    width: 100vw;
    position: relative;
    z-index: -2;
    background-image: linear-gradient(to bottom, var(--rosa-padrao) 1%, white 20%, white 90%);

    background-attachment: fixed;
}

#logo-welcome{
    position: fixed;
    left: 50%;
    bottom: 70%;
    transform: translate(-50%, 0);
    width: 200px;
}

#imagem-welcome{
    position: fixed;
    right: 5px;
    bottom: 0;
    height: 60vh;
}

#welcome p {
    position: fixed;
    bottom: 50%;
    left: 20px;
    width: 200px;
    text-align: center;
}

/* Main > Nossos tratamentos */

#nossos-tratamentos{
    padding-top: 32px;
    text-align: center;
    font-size: 3rem;
    color: var(--marrom-bordo);
    font-family: var(--fonte-manuscrito);
    background-image: linear-gradient(to bottom, var(--rosa-padrao) 92%, white 98%); 
    /* background-color: var(--rosa-padrao); */
    padding-bottom: 100px;
}
#nossos-tratamentos h2{
    margin-bottom: 32px;
}

div#page01, 
div#page02{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "card1 card2" "card3 card4";
    justify-items: center;
    grid-row-gap: 40px;

    margin-top: 15px;
}

.card{/* 
    border: 2px solid #723c3c59; */
    display: inline-block;
    padding: 10px;
    width: 35vw;
    border-radius: 10px;
    cursor: pointer;
}

div.card img{
    width: 100px;
    border-radius: 50%;
}
div.card>h4{
    font-size: 2rem;
}

.card1{
    grid-area: card1;
}
.card2{
    grid-area: card2;
}
.card3{
    grid-area: card3;
}
.card4{
    grid-area: card4;
}
dialog{
    margin: auto;
    font-family: var(--fonte-padrao);
    height: 80vh;
    width: 80vw;
    font-size: 1.2rem;
    padding: 20px;
    background-color: var(--rosa-padrao);
    border: 3px solid var(--marrom-bordo);
    border-radius: 20px;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.6);
    text-align: center;
    /* display: flex;
    flex-flow: column nowrap;
    row-gap: 30px;
    align-items: center ; */

    overflow: unset;
}
dialog::backdrop{
    background-color: rgba(0, 0, 0, 0.7);
}
#btnFechar{
    position: absolute;
    right: 25px;
    color: var(--marrom-bordo);
    cursor: pointer;
}

dialog img{
    width: 170px;
    border-radius: 50%;
}

dialog img, dialog h4, dialog p{
    margin: 25px 0;
}

#btnAgendar{
    position: absolute;
    left: 50%;
    transform: translate(-50%, 50%);
    bottom: 0;

    padding: 12px;
    border: none;
    background: var(--marrom-bordo);
    border-radius: 10px;
    color: white;
    box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.281);
    cursor: pointer;
}

/* QUEM SOMOS */

#quem-somos{
    background-color: white;
    padding: 0 20px;
    font-family: var(--fonte-padrao);
}

#quem-somos h2{
    text-align: center;
    font-size: 2rem;
    font-weight: 300;
    margin-bottom: 40px;
}

#quem-somos>p{    
    text-align: justify;
}
#quem-somos-conteudo{    
    display: flex;
    flex-flow: row nowrap;
    column-gap: 10px;
    font-size: 1rem;
    text-align: center;
    margin-bottom: 10px;
}

section#quem-somos img{
    height: 200px;
    border-radius: 15px;
    padding-top: 5px;
}


